.messenger{
    height: calc(100vh - 70px);
    display: flex;
}

.chatmenu{
    flex: 3.5;
}

.menuInput{
    width: 90%;
    padding: 10px 5px;
    border: none;
    border-bottom: 1px solid lightgray;
}

.menuInput:focus{
    outline: .5px solid lightgray;
}

.chatBox{
    flex: 5.5;
    position: relative;
}

.boxWrap{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxTop{
    height: 100vh;
    overflow-y: scroll;
    padding-right: 10px;
}

.boxBottom{
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatMsgInput{
    width: 80%;
    max-height: 20px;
    padding: 10px;
    outline: none;
    border-color: gray;
}

.chatBtn{
    width: 70px;
    height: 40px;
    border: none;
    color: white;
    background-color: rgb(83, 98, 98);
    cursor: pointer;
    padding: 10px;
}
.chatOnline{
    flex: 3;
}

.menuWrap, .boxWrap, .onlineWrap{
    padding: 10px;
}

.nochat{
    position: absolute;
    top: 10%;
    font-size: 35px;
    color: lightgray;
    font-weight: 500;
    cursor: default;
}