.feed{
    flex: 5.5;
}

.feedWrapper{
    padding: 20px;
}

.err{
    color: crimson;
    font-size: 12px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
