.rightbar{
    flex: 3.5;
}

.rightbarWrap{
    padding: 20px 20px 0px 0px;
}

.birthdayCont{
    display: flex;
    align-items: center;
}

.birthdayImg{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthdayText{
    font-weight: 300;
    font-size: 14px;
}

.rightAd{
    width: 100%;
    border-radius: 5px;
}

.fTitle{
    margin-bottom: 20px;
}

.friendList{
    margin: 0;
    padding: 0;
    list-style: none;
}

.rbFriend{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.rbPIcont{
    margin-right: 10px;
    position: relative;
}

.rbpImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.rbOnline{
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: limegreen;
    position: absolute;
    top: -2px;
    right: 0;
    border: 1.5px solid whitesmoke;
}

.rbUname{
    font-weight: 500;
}

.rbTitle{
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 10px;
}

.rightbarInfo{
    margin-bottom: 30px;
}

.rightbarInfoItem{
    margin-bottom: 10px;
}

.infoKey{
    font-weight: 500;
    margin-right: 15px;
    color: #555;
}

.infoValue{
    font-weight: 300;
}

.rbFollowings{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.rbFollowing{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.rbFImg{
    width: 100px;
    height: 100px;
    border-radius: 5px;
    object-fit: cover;
}